@media only screen and (min-width: 768px) {

  .logo {
    height: 60px;
  }

  .main-nav {
    display: block;
    list-style: none;
    float: left;
    margin-top: 40px;
  }

  .main-nav li {
    display: inline-block;
    margin-right: 25px;
  }

  .menu-icon {
    display: none;
  }

  .hero-text-box {
    padding: 0;
    top: 23vh;
    left: 20vw;
  } 

  .dropdown-content {
    position: absolute;
  }

  .dropdown-content a {
    text-align: left;
  }

  .section-informations {
    margin: 0 20vw;
  }

  .col-left,
  .col-right {
    padding: 0;
  }

  footer {
    padding: 50px 20vw;
  }

  .link-flex-info {
    flex-basis: 100% !important;
    display: flex;
  }

  #footer-address {
    margin-top: 0;
    margin-left: 40px;
  }

  .link-flex-child {
    flex: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .main-nav li {
    margin-right: 50px;
  }

  .hero-text-box a {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-text-box h1 {
    font-size: 52px;
    font-weight: 300;
  }

  /* INFORMATION SECTION */
  .information-flex {
    display: flex;
  }

  .col-left,
  .col-right {
    padding: 0;
  }

  .col-left {
    border-right: 1px solid #e4e4e4;
    padding-right: 30px;
    border-bottom: none;
  }

  .col-right {
    padding-left: 50px;
    margin-top: -7px;
  }

  .link-flex-info {
    flex-basis: 0!important;
    display: block;
  }

  #footer-address {
    margin-top: 1.5rem;
    margin-left: 0px;
  }
}