@media only screen and (max-width: 1150px) {
  .main-nav {
    margin-left: 10%;
  }

  .hero-text-box {

  }
}

@media only screen and (max-width: 990px) {
  .main-nav {
    margin-left: 10%;
  }

  .main-nav a {
    font-size: 14px;
  }

  .hero-text-box h1 {
    font-size: 45px;
  }

  .hero-text-box p {
    font-size: 13px;
  }

  .logo {
    height: 50px;
    margin-top: 25px;
  }
  
  .information-flex {
    padding: 0 10%;
  }
}

@media only screen and (max-width: 830px) {

  .main-nav {
    margin-left: 15%;
  }

  .main-nav li {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 700px) {
  .hero-text-box {
    left: 10%;
  }

  .hero-text-box h1 {
    font-size: 40px;
  }

  .hero-text-box p {
    font-size: 12px;
  }

  .main-nav {
    display: none;
  }

  .responsive {
    position: relative;
    display: block;
  }

  .resonsive li {
    float: none;
    display: block;
    text-align: center;
  }

  .menu-icon {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 5%;
    right: 5%;
  }

  .menu-icon i {
    font-size: 30px;
    color: #fff;
  }
}