:root {
  --white: #FFFFFF;
  --light: #F8F8F8;
  --orange-main: #FE992A;
  --orange-hover: #fEA13B;
  --orange-btn: #FFBA6E;
  --red: #E56C69;
  --text-color: #555;
  --dropdown-color: #D8CFB7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--white);
  color: var(--text-color);
  font-family: 'Lato', 'Arial', 'Droid Sans', sans-serif;
  font-weight: 300;
}

.row {
  max-width: 845px;
  margin: 0 auto 0 auto;
}

/* HEADER */

header {
  background-image: url(Clip.png);
  height: 102vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-text-box {
  position: absolute;
  max-width: 400px;
  top: 30%;
  padding: 0 30px;
}

.hero-text-box h1, .hero-text-box p,
.link-flex p, li, h5,
.btn {
  color: var(--white);
}

.hero-text-box h1 {
  font-size: 30px;
  font-weight: 300;
}

.hero-text-box a {
  font-family: 'Lato';
}

.hero-text-box p {
  font-weight: 400;
  font-size: 12px;
  margin-top: 15px;
  line-height: 1.8;
}

#link-access {
  margin-top: 60px;
}

.logo {
  position: absolute;
  height: 40px;
  width: auto;
  margin-top: 20px;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: var(--white);
}

.main-nav a,
.dropbtn {
  font-weight: bold;
  font-size: 15px;
}

.dropbtn {
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--white);
  background-color: inherit;
  margin: 0;
}

.dropdown-content {
  position: relative;
  background: var(--dropdown-color);
  display: none;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px #00000033;
  z-index: 1;
}

.dropdown-content a {
  color: var(--text-color);
  font-weight: 300;
  display: block;
  text-align: center;
  padding: 10px 4px;
}

.dropdown-content a:hover {
  background-color: var(--white);
}

.show {
  display: block;
}

.transbox {
  position: absolute;
  width: 100%;
  background-color: var(--white);
}

.dia {
  bottom: -64px;
  min-height: 70px;
  transform: skewY(1.5deg);
}

.dia-blur {
  transform: skewY(.5deg);
  min-height: 70px;
  bottom: -40px;
  opacity: 0.5;
}

.diagonal-box {
  background-color: var(--white);
  padding-bottom: 80px;
  transform: skewY(2deg);
  transform-origin: bottom right;
}


/* DROPDOWN */

.main-nav {
  display: none;
}

.responsive {
  position: fixed;
  display: block;
  background: var(--dropdown-color);
  padding: 10rem 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  opacity: 0.9;
  z-index: 1;
}

.main-nav li {
  float: none;
  display: block; 
  text-align: center;
  margin: auto;
}

.responsive a, .responsive button {
  color: #555;
  line-height: 2;
  font-size: 25px;
}

.menu-icon {
  display: block;
  position: fixed;
  cursor: pointer;
  top: 4%;
  right: 10%;
  z-index: 100;
}

.menu-icon i {
  font-size: 30px;
  color: var(--white);
}

/* INFORMATION */

.information {
  margin-bottom: 100px;
}

.col-left {
  position: relative;
  padding: 0 2rem;
  line-height: 1.4;
}

.col-left p {
  font-style: italic;
  font-size: 15px;
  font-weight: 100;
}

.col-right {
  line-height: 2;
  padding: 2rem;
}

.col-right h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.col-right p {
  font-size: 12px;
  font-family: Arial;
}

.col-left p,
.col-right h3 {
  color: var(--orange-main);
}

.con-btn {
  position: absolute;
  bottom: 0;
  right: 20%;
}

.btn {
  position: absolute;
  padding: 5px 10px 5px 10px;
}

.btn-less,
.btn-greater {
  bottom: 0px;
}

.btn-less:hover,
.btn-greater:hover {
  cursor: pointer;
  background-color: var(--orange-hover);
}

.btn-less {
  background-color: var(--orange-main);
  right: 29px;
}

.btn-greater {
  background-color: var(--orange-btn);
  right: 0px;
} 

.section-informations {
  position: relative;
}

.information-flex {
  display: block;
  padding: 80px 0;
}

.information::before,
.information::after {
  position: absolute;
  height: 0;
  display: block;
  font-size: 40px;
}

.information::before {
  content: "\201C";
  top: -30px;
}

.information::after {
  content: "\201D";
  right: 12%;
  bottom: 105px;
}

.col-left {
  border-bottom: 1px solid #e4e4e4;
}

.con-btn {
  bottom: 5%;
}

/* FOOTER */

footer {
  background-color: var(--red);
  padding: 50px 50px 110px 50px;
}

.link-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 2;
}

.link-flex p, a, li, h5 {
  font-family: 'Droid Sans';
  font-size: 12px;
}

.link-flex ul {
  list-style: none;
}

#footer-address {
  margin-top: 1.5rem;
}
